<section>
  <p></p>
  <p>Railroader is an open source vulnerability scanner specifically designed for Ruby on Rails applications. It statically analyzes Rails application code to find security issues at any stage of development.</p>
  <p><a href="https://railroaderpro.com"><img src="/images/railroaderpro.png"></a></p>
  <p><a href="https://railroaderpro.com">Railroader Pro</a> is the commercial version of Railroader which offers a GUI, test integration, deeper analysis, and more.</p>
</section>
